.acasa-panel{
	position: relative;
	background: url("../images/EDX45F.jpg");
	background-position: origin;
	background-size: cover;
}

.acasa-panel .container{
	font-family: 'Poor Story';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.descriere-container{
	border-radius: 3px;
	width: 45%;
	height: 50%;
	background: rgba(0, 0, 0, 0.7);
	transition: border-color .4s ease-out, background-color .4s ease-out;
	border: 1px solid transparent;
}

.descriere-container:hover{
	background-color: black;
	border-color: white;
}

.acasa-panel .title-container{
	height: 15%;
}

.acasa-panel .title-panel{
	font-family: 'Tajawal';
	color: white;
	height: 100%;
	width: 90%;
	margin: auto;
	font-size: 170%;
	box-sizing: border-box;
	border-bottom: 1px solid white;
}

.acasa-panel .content-container{
	font-size: 120%;
	padding: 10px;
	height: 85%;
	overflow: auto;
	color: white;
}

.navigator-container{
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	left: 0;
}

.navigator-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigator-list li{
	display: inline-block;
}

.navigator-list li button{
	outline: none;
	height: 15%;
	width: 25px;
	background: transparent;
	border: 1px solid white;
	transition: background .4s ease-out;
}

.navigator-list li button:hover{
	background: white;
}

.navigator-list li .active{
	background: white;
}