.footer-page-container{
	font-family: 'Poor Story';
	background: rgb(30, 30, 30);
	font-size: 120%;
	color: white;
}

.contact{
	display: block;
	position: relative;
	width: 50%;
	left: 30%;
	margin-top: 2%;
}

.footer-list{
	padding-top: 10%;
	list-style: none;
	height: 100%;
	margin: 0;
	padding-left: 0;
}

.footer-list li{
	display: block;
	height: 20%;
}