.header{
	height: 100%;
	/*font-family: 'Yeon Sung';*/
	font-family: 'Poor Story';
}

.header-list{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	justify-content: center;
	align-items: center;
}

.header-list-authentication{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 10px;	
}

.header-list .item{
	position: relative;
	width: 11%;
	height: 70%;
	margin-left: 5px;
}

.header-list .item a{
	text-decoration: none;
	border-radius: 3px;
	width: 100%;
	color: white;
}

.header-list .item a:hover{
	background-color: white;
	color: #1976d2;
}

@media screen and (max-width: 1000px){
	.header-log{
		display: none;
	}
	
	.header-list .item{
		width: 15%;
	}
}

.header-list-authentication .item{
	display: inline-flex;
	position: relative;
	height: 80%;
	box-sizing: border-box;
	margin-left: 2px;
	position: relative;
	overflow: hidden;
	transition: overflow .4s ease-out;
}

.header-list-authentication .item:hover{
	overflow: visible;
}

.header-list-authentication .item:first-of-type{
	width: calc(60% - 2px);
	border-right: 2px solid white;
	justify-content: center;
	align-items: center;
}

.header-list-authentication .item:nth-of-type(2){
	width: calc(40% - 2px);
	justify-content: flex-start;
	align-items: center;
}

.header-list-authentication .item a{
	display: flex;
	width: 45%;
	height: 90%;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
}

.header-list-authentication .item:first-of-type a:hover{
	text-decoration: underline;
}

.header-list-authentication .item:first-of-type:hover .create-new-account-container{
	display: block;
}

.create-new-account-container::after{
	content: '';
	position: absolute;
	top: -30px;
	border: 15px solid;
	border-color: transparent;
	border-bottom-color: #1976d2;
	margin-left: calc(50% - 15px);
}

.create-new-account-container{
	display: none;
	top: calc(110% + 15px);
	position: absolute;
	width: 50%;
	height: 100%;
	background: #1976d2;
	left: 10%;
}

.create-new-account-panel{
	height: 100%;
}

.forget-password-panel{
	display: flex;
	height: 30%;
	width: 100%;
	margin: auto;
	justify-content: center;
	align-items: center;
	background: gainsboro;
	font-size: 85%;
}

.create-new-account-panel button{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: 0;
	background-color: #1976d2;
	color: white;
	transition: box-shadow .4s ease-out;
}

.create-new-account-panel button:hover{
	box-shadow: 1px 1px 2px black;
}

.items-number-container{
	position: absolute;
	left: 25%;
	top: 2%;
	width: 23px;
	height: 22px;
	background: red;
	box-sizing: border-box;
	padding: 2px;
	border-radius: 100%;
	overflow: hidden;
	text-align: center;
	color: white;
}

.header-auth-container{
	position: absolute;
	height: 250%;
	width: 90%;
	background: white;
	top: 100%;
	left: 10%;
	border-radius: 2px;
}

.header-auth-container::after{
	content: '';
	position: absolute;
	border: 15px solid transparent;
	top: -30px;
	border-bottom-color: white;
	left: 80%;
}

.user-auth-list{
	margin: 0;
	padding: 0;
}

.user-auth-list li{
	width: 90%;
	margin-left: 5%;
	height: 30%;
	max-height: 50px;
	margin-top: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	color: black;
	border-bottom: 1px solid gray;
}

.user-auth-list li:last-of-type{
	border: 0;
}

.user-auth-list li a{
	color: black !important;
}

.headerLoginUser{
	cursor: pointer;
	margin-right: 2px;
	display: inline-flex !important;
	width: auto !important;
}

.headerLoginUserIcon{
	position: relative;
	color: white;
	margin-left: 3px;
}

.shimba-parola-container{
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.schimba-parola-panel{
	display: block;
	height: 35%;
	width: 30%;
	background: #e9ebee;
	border-radius: 4px;
}

.schimba-parola-panel .header{
	position: relative;
	display: flex;
	height: 20%;
}

.schimba-parola-panel .header button{
	width: 15%;
	height: 95%;
	position: absolute;
	max-width: 35px;
	max-height: 35px;
	right: 5px;
	top: 5px;
	border: 0;
	background: transparent;
	outline: none;
}

.schimba-parola-panel .body{
	display: flex;
	height: 50%;
	justify-content: center;
	align-items: center;
}

.schimba-parola-panel .body input{
	width: 70%;
	height: 30%;
	padding-left: 15px;
	border-radius: 4px;
	outline: none;
	border: 0;
}

.schimba-parola-panel .footer{
	height: 30%;
}

.schimba-parola-panel .footer button{
	padding: 2%;
	padding-left: 4%;
	padding-right: 4%;
	border-radius: 4px;
	border: 0;
	min-width: 40%;
	background: #1976d2;
	color: white;
	box-shadow: 1px 1px 5px black;
	transition: box-shadow .4s ease-out;
}

.schimba-parola-panel .footer button:hover{
	box-shadow: 2px 2px 10px black;
}