.rezervari-container{
	width: 90%;
	height: 90%;
}

.rezervari-container .header{
	font-family: 'Tajawal';
	font-size: 140%;
	height: 20%;
	font-weight: bold;
	overflow: hidden;
}

.rezervari-panel{
	padding-left: 2%;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 1px solid gray;
	transition: width .4s ease-out;
}

.rezervari-panel:hover{
	width: 100%;
}

.rezervari-container .body{
	font-family: 120%;
	padding: 1%;
	font-family: 'Poor Story';
	height: 60%;
	overflow: auto;
}

.rezervari-container .footer{
	height: 20%;
}

.rezervari-container .footer button{
	position: relative;
	top: 10%;
	height: 80%;
	width: auto;
	max-width: 120px;
	border: 0;
	border-radius: 3px;
	outline: none;
	background: #1976d2;
	font-family: 'Poor Story';
	color: white;
	box-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 1100px){
	.rezervari-panel{
		width: 100%;
	}
}